[Unit]
Description=Bind persistent Retroid InputPlumber profiles before inputplumber
DefaultDependencies=no
After=local-fs.target
Before=inputplumber.service armada-controller-type.service
ConditionPathExists=/etc/armada/sm8250-bringup-early.sh

[Service]
Type=oneshot
ExecStart=/etc/armada/sm8250-bringup-early.sh input
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
